#right-panel-container {
    grid-column: 2;
    justify-content: center;
    align-items: center;
    /*padding: 2em;*/
}

#board {
    display: flex;
    width: 50vw;
    height: 50vw;
    background-color: rgb(40, 189, 209);
}

#sea {
    width: 50vw;
    height: 50vw;
    display: flex;
    position: absolute;
    z-index: 20;
}

#background {
    width: 50vw;
    height: 50vw;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

@keyframes pulse {
    0% {
        transform: scale(0.90);
    }
    100% {
        transform: scale(1);
    }
}

.target {
    background: url("../img/target.png") no-repeat center;
    background-size: 80%;
    width: 20%;
    height: 20%;
    -webkit-animation: pulse 1s infinite alternate;
}

.ship {
    background: url("../img/ship.png") no-repeat center;
    background-size: 80%;
    width: 20%;
    height: 20%;
}