#right-panel-container {
    grid-column: 2;
    justify-content: center;
    align-items: center;
    /*padding: 2em;*/
}

#board {
    width: 50vw;
    height: 50vw;
    display: flex;
    background-color: rgb(40, 189, 209);
    border-radius: 0 0 0 20px;
}

#sea {
    width: 50vw;
    height: 50vw;
    display: flex;
    z-index: 20;
}

#background {
    width: 50vw;
    height: 50vw;
    position: absolute;
    display: flex;
}

@keyframes pulse {
    0% {
        transform: scale(0.90);
    }
    100% {
        transform: scale(1);
    }
}

.target {
    background: url("../img/target.png") no-repeat center;
    background-size: 80%;
    width: 20%;
    height: 20%;
    -webkit-animation: pulse 1s infinite alternate;
}

.red {
    filter: drop-shadow(6px 6px 6px rgba(255, 0, 0, 1));
}

.green {
    filter: drop-shadow(6px 6px 6px rgb(0, 255, 0));
}

.blue {
    filter: drop-shadow(6px 6px 6px rgb(0, 0, 255));
}

.ship {
    background: url("../img/ship.png") no-repeat center;
    background-size: 80%;
    width: 20%;
    height: 20%;
}